@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br>
            <div class="text-center">
                <h2>Welcome to Minning Forum!</h2>
            </div><br><br>
            <div>
                <header>
                    <h4>Activities</h4><br>
                </header>
                <main>
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="h6">No Activities for today!</span>
                        </div>
                    </div>
                </main>
            </div>
            <div>
                <br>
                <header>
                    <h4>Popular Topics</h4><br>
                </header>
                <main>
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td>
                                                <form action="/Topics/All" class="float-sm-left" method="get">
                                                    <input type="hidden" name="categoryId" value=@category.Id />
                                                    <button class="btn btn" type="submit">@category.Title </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="/Categories/Delete" class="float-sm-right" method="post">
                                                    <input type="hidden" name="categoryId" value=@category.Id />
                                                    <input class="btn btn-danger" type="submit" value="Delete" />
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>