@model MF.Models.ViewModels.Categories.CategoryTopicsViewModel
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <partial name="_CategoryDetailsPartial" model="Model" />
            <br>
            <partial name="_TopicsPrintPartial" model="Model.Topics" />
        </div>
        <div class="col-1"></div>
    </div>
</div>
