@{ViewData["Title"] = "Create Topic";
}
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<div class="Row">
    <div class="mx-auto text-center" style="width: 50rem;">
        <form method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="title" id="title" placeholder="Topic name">
                <br>
                <div>
                    <textarea name="content" placeholder="Answer..."></textarea>
                </div>
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


