@{ViewData["Title"] = "Create Topic";
}
<div class="Row">
    <div class="col-md-4 text-center">
        <form method="post">
            <div class="form-group">
                <label for="topicName">Topic Name</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Best Minning Technics">
                </br>
                <div class="form-group">
                    <label for="Content">Reply Content</label>
                    <textarea class="form-control" name="content" id="Answer" rows="3"></textarea>
                </div>

                <input type="submit" class="btn btn-primary mb-2" value="Create" />
            </div>
        </form>
    </div>
</div>


