<div class="Row">
    <div class="col-md-12 text-center">
        <form method="post">
            <label>Insert title for topic:</label>
            <input type="text" name="Title" value="" />
            <br/>
            <label>Insert title for category:</label>
            <input type="text" name="CategoryId" value="" />
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
