<div class="Row">
    <div class="col-md-12 text-center">
        <form method="post">
            <label>Insert title for category:</label>
            <input type="text" name="Title" value="" />
            <input type="submit" value="Submit">
        </form>
    </div>
</div>