<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-4">
            <div class="card-header">
                @foreach (var member in Model)
                {
                    <div class="card">
                        <span class="h6">
                            <a href="/Messages/PrivateChat/?receiverId=@member.Id" class="text-dark" style="text-decoration: none">
                                @member.Username
                            </a>
                            <span class="small text-secondary"> 30.07.2021 17:42</span>
                        </span>

                        <a href="/Messages/PrivateChat/?receiverId=asdh12j3h12j3h21j3123" class="text-dark" style="text-decoration: none">
                            <span class="small">

                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>
