<table class="table table-striped">
    <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">Topic Name</th>
            <th scope="col">Category</th>
            <th scope="col">Followers</th>
            <th scope="col">Last Commented</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>BTC best Miner?</td>
            <td>Minning Softwares</td>
            <td>1856</td>
            <td>20 mon. 2021</td>
        </tr>
        <tr class="text-center">
            <td>BTC best Miner?</td>
            <td>Minning Softwares</td>
            <td>1856</td>
            <td>20 mon. 2021</td>
        </tr>
        <tr class="text-center">
            <td>BTC best Miner?</td>
            <td>Minning Softwares</td>
            <td>1856</td>
            <td>20 mon. 2021</td>
        </tr>
    </tbody>
</table>