@model MF.Models.ViewModels.Topics.TopicRepliesViewModel
@{
    ViewData["Title"] = Model.Name +  " - Replies";
}
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <partial name="_TopicDetailsPartial" model="@Model" />
            <partial name="_RepliesPrintPartial" model="@Model.Replies" />

            @if (this.User.Identity.IsAuthenticated)
            {
                <form asp-controller="Replies" asp-action="Create" method="post" id="CreateReply">
                    <div id="Reply">
                        <input type="hidden" name="topicId" value="@Model.Id" />
                        <input type="hidden" name="quoteReplyId" value="0" />
                        <textarea name="content" placeholder="Reply..."></textarea>
                    </div>
                    <input type="submit" class="btn btn-success" value="Send" />
                    <hr />
                </form>
            }
        </div>
        <br>
    </div>
    <div class="col-lg-1"></div>
</div>

<script>
    function QuoteReply(QuoteReplyId) {
        $("#CreateReply input[name='quoteReplyId']").val(QuoteReplyId);
    }
</script>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>
