<div class="Row">
    <div class="col-md-12 text-center">
        <form method="post">
            <div class="form-group">
                <label for="Content">Reply Content</label>
                <textarea class="form-control" name="content" id="Answer" rows="3"></textarea>
        </form>
        <a href=""></a><button class="btn btn-primary">SEND</button><a>
    </div>
</div>