<div class="Row">
    <div class="col-md-12 text-center">
        <form method="post">
            <label>InsertContent</label>
            <input type="text" name="Content" value="" />
            <br />
            <label>Insert Topic Id</label>
            <input type="text" name="TopicId" value="" />
            <input type="submit" value="Submit">
        </form>
    </div>
</div>